.site-header {
	border-top: none;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

pre {
  padding: 0px;
}

.footer-col-wrapper {
  display: none;
}

@media screen and (min-width: 800px) {
  .social-media-list .username {
    display: none;
  }
}
