<ul class="social-media-list">
    <li>
        <a rel="me" href="https://github.com/jkoop" target="_blank" title="jkoop">
            <svg class="svg-icon grey">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <span class="username">jkoop</span>
        </a>
    </li>
    <li>
        <a rel="me" href="/6714ED9226630674A4365404B2D0C6242D5AC1FF.asc" title="pgp">
            <svg class="svg-icon grey">
                <use xlink:href="/assets/minima-social-icons.svg#pgp"></use>
            </svg>
            <span class="username">pgp</span>
        </a>
    </li>
</ul>
